.CFUserTextEncoding
.DS_Store
.Trash/
.adobe/
.android/
.atom/
.bash_history
.cache/
.composer/
.config/
.cups/
.dlv/
.dropbox/
.git-completion.bash
.gitconfig
.glide/
.heroku/
.homestead-56/
.homestead/
.inputrc
.lesshst
.local/
.mysql_history
.netrc
.node-gyp/
.nodebrew/
.npm/
.nvm/
.oracle_jre_usage/
.pearrc
.phpenv/
.rnd
.ssh/
.tuxguitar-1.2/
.v8flags.5.0.71.35.ogura.json
.v8flags.5.0.71.52.ogura.json
.vagrant.d/
.vagrant/
.vim/
.viminfo
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Homestead/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
Vagrantfile
VirtualBox VMs/
becco_hp/
dev/
develop/
go-pear.phar
go-pear.php
go-study/
go/
jmeter.log
l5blog/
lalablog/
myblog/
node_modules/
pear/
phpenv/
phptest01/
protoc-3.2.0-osx-x86_64/
smart-meter/
sqltest
vagranttest/
vue-study/
